.quiz-container {
  color: $foreground;
  background: $background;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  left: 50%;
  margin: 0 auto;
  max-width: 600px;
  //overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 9999;
}

.quiz-header {
  h1 {
    font-size: 2em;
    margin: 0;
  }
}

.quiz-body {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.quiz-questions-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100000px;
  //display: none;
  transition: all 0.5s ease-in-out;
}

.quiz-question {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  float: left;

  .container {
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + span, &:hover + span{
        background: $purple;
        color: $green;
      }
    }

    span {
      color: $foreground;
      font-weight: bold;
      background: $background;
      display: block;
      position: relative;
      padding: 10px 15px;
      border-radius: 50px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 0.8rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: fit-content;
      border: 2px solid $comment;
    }
  }
}

.quiz-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: $comment;

  &-prev {
    background-image: url('/images/arrowprev.svg');
  }

  &-next {
    background-image: url('/images/arrownext.svg');
  }


}